# Configuración de Base de Datos (PostgreSQL)
DB_URL=jdbc:postgresql://localhost:5432/base_db
DB_USERNAME=postgres
DB_PASSWORD=tu_password

# Seguridad JWT
JWT_SECRET=EscribirAquiUnaClaveMuyLargaDeMasDe64CaracteresSinSimbolosEspeciales
JWT_EXPIRATION=86400000